<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>arkarattoklel: The Arka-English Dictionary</title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
  <a href="/"><img src="/images/ARKlogo.png" width="400" height="100" alt="arkarattoklel" /></a>
  <form id="search">
    <div>
      <label for="word">Look up: </label>
      <input type="text" id="word" name="word">
    </div>
    <div>
      <button name="search" type="submit" formaction="/Entry/search" formmethod="get">Search</button>
    </div>
  </form>
</body>
<%== yield() %>
</html>