<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Front page</title>
</head>
<body>

<p>Welcome to the Arka-English Dictionary!</p>

<p><%== linkTo("List all words", QUrl("Entry/index")) %></p>

</body>
</html>
