<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Front page</title>
</head>
<body>

<p>Welcome to the Arka-English Dictionary!</p>

<p><%== linkTo("List all words", QUrl("Entry/index")) %></p>
<p><%== linkTo("List all users", QUrl("Account/list")) %></p>
<p><%== linkTo("Log of edits", QUrl("Audit/entries")) %></p>
<p><%== linkTo("Log of accounts", QUrl("Audit/users")) %></p>

</body>
</html>
